<template>
    <form @submit.prevent="login">
        <div>
            <label for="username">username</label>
        <input id="username" v-model="username" />
        </div>
        <div>
            <label for="password">password</label>
        <input id="password" v-model="password" />
        </div>
        <br/>
        <button type="submit">Send</button>
    </form>
</template>
<script>
export default {
    data(){
        return{
            password: "Asd123!@#",
      username: "morteza.front.end@gmail.com",
        }
    },
    methods:{
       login(){
        this.$auth.loginWith('local',{
            data:{
                username: this.username,
                password:this.password
            }
        }).then(({data})=>{
           console.log("data: " , data);
        }).catch((err)=>{
           console.log(err)
       }) 
    }
}
}
</script>